<div class="container ">
  <div class="col-sm-6">
<form [formGroup]="logInForm">

<div  formGroupName="loginGroup">
    <div class="form-group">
      <label for="tEmail1">Username</label>
      <input formControlName="Username" formtype="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter your email">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      <!-- VALIDATION Username: to access: logInForm.controls['myFormGroup'].get('specificControlInFormGroup')-->
      <div *ngIf="logInForm.controls['loginGroup'].get('Username').touched
        && logInForm.controls['loginGroup'].get('Username').invalid" class="alert alert-danger">

          <div *ngIf="logInForm.controls['loginGroup'].get('Username').errors.required"> Please enter a Username</div>
        </div>
    </div>

    <div class="form-group">
      <label for="Password">Password</label>
      <input  formControlName="Password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
<!--Another VALIDATION method for Password: is to get it from ts-->
    <div *ngIf="password.touched && password.invalid" class="alert alert-danger">
      <div *ngIf="password.errors.required">Password is required</div>
    </div>
    </div>

    <button type="submit" [disabled]="isValid()" class="btn btn-primary text-center"
    (click)="signInAndRedirectUser(logInForm.controls['loginGroup'].value)">Sign In
    <span class="text-center" *ngIf="(isLoading$ | async)">
    <i class="fa fa-spinner fa-3x" aria-hidden="true">
    </i>
  </span>
    </button>
  </div>
  
</form>
</div>





<!--
<p>loginGroupFormFormGroupUsernameControl value: {{ logInForm.controls['loginGroup'].get('Username').status }}</p>
<p>loginGroupFormFormGroup value: {{ logInForm.controls['loginGroup'].value }}</p>
<p>PasswordControl value: {{ password}}</p>
<p>loginGroupForm errors.required : {{ logInForm.controls['loginGroup'].get('Username').errors }}</p>
<p>Form value: {{ logInForm.value | json }}</p>
<p>Form value: {{ logInForm.status | json }}</p> -->
</div>
