



  <div class="btn-toolbar" role="toolbar" style="margin: 0;">
      <div class="btn-group">
           <label style="margin-top:10px">Page {{currentIndex}}/{{pageNumber}}</label>
        </div>
        <div class="btn-group pull-right">
           <ul class="pagination" >
              <li [ngClass]="{'disabled': (currentIndex == 1 || pageNumber == 0)}" ><a  (click)="prevPage()">Prev</a></li>
                 <li *ngFor="let page of pagesIndex"  [ngClass]="{'active': (currentIndex == page)}">
                    <a (click)="setPage(page)">{{page}}</a>
                 </li>
              <li [ngClass]="{'disabled': (currentIndex == pageNumber || pageNumber == 0)}" ><a   (click)="nextPage()">Next</a></li>
           </ul>
        </div>
     </div>
